.App {
  padding: 2rem;
  text-align: center;
}

.nav {
  border-bottom: 1px solid #94a1b2;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 1rem;
}

.text-with-link > a {
  margin: 0 0.5rem;
}

.heroes-filter {
  margin-bottom: 1rem;
}

.heroes-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.hero-profile {
  padding: 1rem;
}

.hero-name {
  background-color: #7f5af0;
  border-radius: 4px;
  font-weight: bold;
  margin: 0 auto 1rem auto;
  padding: 0.5rem;
  text-shadow: 0 0 6px #000;
  width: fit-content;
}

.hero-delete {
  background: transparent;
  border: 0;
  color: #a31621;
  cursor: pointer;
}
